[submodule ".config/zsh/fast-syntax-highlighting"]
	path = .config/zsh/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule ".config/zsh/z.lua"]
	path = .config/zsh/z.lua
	url = https://github.com/skywind3000/z.lua.git
[submodule ".config/zsh/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/nvim/pack/packager/opt/vim-packager"]
	path = .config/nvim/pack/packager/opt/vim-packager
	url = https://github.com/kristijanhusak/vim-packager
